<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <div class="container container-padding">
        <form action="#" th:action="@{/register}" th:object="${user}" method="post" class="register-form">
            <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label>email</label>
            <input type="email" th:field="*{email}">
            <label>password</label>
            <input type="password" th:field="*{password}">
            <label>phone number</label>
            <input type="text" th:field="*{phoneNumber}">
            <button type="submit">sign up</button>
        </form>
    </div>
</body>
</html>